<p id="notice"><%= notice %></p>

      <p class="feeds_image">
        <strong>Image:</strong>
        <%= image_tag @feed.image.url %>
      </p>
      <p>
<%= link_to 'Edit', edit_feed_path(@feed) %>
<%= link_to 'Back', feeds_path %>
      </p>
